<div class="container w-50">
  <div>
    <h1>User Management</h1>
    <input
      type="text"
      class="form-control w-50 mb-1"
      [(ngModel)]="user.name"
      placeholder="Enter the user name"
    />
  </div>
  <div>
    <input
      type="text"
      class="form-control w-50 mb-1"
      [(ngModel)]="user.email"
      placeholder="Email"
    />
  </div>
  @if (editUserId) {
  <button class="btn btn-outline-primary mx-3" (click)="updateUser()">
    Update User
  </button>
  <button class="btn btn-outline-secondary mx-3" (click)="resetForm()">
    Cancel
  </button>
  } @else{
  <div>
    <button class="btn btn-outline-primary my-2" (click)="addUser()">
      Add User
    </button>
  </div>
  }

  <hr />
  <div>
    <h2>List of Users</h2>
    @for (user of users; track $index) {
    <div class="card my-2">
      <div class="card-title mx-3">
        <h3>{{ user.name }}</h3>
      </div>
      <div class="card-body">
        <p>Email: {{ user.email }}</p>
        <p>ID: {{ user.id }}</p>
        <button class="btn btn-danger mx-2" (click)="deleteUser(user.id)">
          Delete User
        </button>
        <button class="btn btn-success mx-2" (click)="setEditUser(user)">
          Edit User
        </button>
      </div>
    </div>
    }
  </div>
</div>
