<div class="container w-50">
  <div>
    <h1>User Management</h1>
    <input
      type="text"
      class="form-control w-50 mb-1"
      [(ngModel)]="user.name"
      placeholder="Enter the user name"
    />
  </div>
  <div>
    <input
      type="text"
      class="form-control w-50 mb-1"
      [(ngModel)]="user.email"
      placeholder="Email"
    />
  </div>

  <div>
    <button class="btn btn-outline-primary" (click)="addUser()">
      Add User
    </button>
  </div>
  <hr />
  <div>
    <h2>List of Users</h2>
    <!-- @for (User of users; track $index) {
    <div class="card">
      <div class="card-title">
        <h3>{{ User.name }}</h3>
      </div>
      <div class="card-body">
        <p>{{ User.email }}</p>
        <button class="btn btn-outline-danger" (click)="updateUser(User)">
          Delete User
        </button>
        <button class="btn btn-outline-success" (click)="editUser(User)">
          Edit User
        </button>
      </div>
    </div>
    } -->
  </div>
</div>
